<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wtc.carbon.carbonbackend.mapper.AdminMapper">
    <resultMap id="adminMap" type="wtc.carbon.carbonbackend.entity.Admin">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="createdAt" column="create_at"/>
        <result property="updatedAt" column="update_at"/>
    </resultMap>

    <select id="getAdminByUsername" resultMap="adminMap">
        SELECT * FROM a_admin where `username`=#{username}
    </select>


</mapper>